<footer class="text-white">
  <div class="container">
    <div class="contacts row no-gutters">
      <div class="col-md-3 col-sm-12">
        <p class="title">Our Office Address</p>
        <address>169 Florida Ave, L.A city</address>
      </div>
      <div class="col-md-3 col-sm-12">
        <p class="title">Please call us:</p>
        <p>(+84) 1234 606 9669</p>
      </div>
      <div class="col-md-3 col-sm-12 offset-md-3 text-right social">
        <a href="#" *ngFor="let s of socialIcons" [class]="s"></a>
      </div>
    </div>
    <hr/>
    <div class="fast-links row no-gutters">
      <div class="col-3">
        <h6>Our Stores</h6>
        <p>text text text text text text text</p>
        <p>text text text text text text text</p>
        <p>text text text text text text text</p>
        <p>text text text text text text text</p>
        <p>text text text text text text text</p>
        <p>text text text text text text text</p>
        <p>text text text text text text text</p>
      </div>
      <div class="col-2 offset-1">
        <h6>My Account</h6>
        <a href="#">link</a>
        <a href="#">link</a>
        <a href="#">link</a>
        <a href="#">link</a>
        <a href="#">link</a>
      </div>
      <div class="col-2 offset-1">
        <h6>Information</h6>
        <a href="#">link</a>
        <a href="#">link</a>
        <a href="#">link</a>
        <a href="#">link</a>
        <a href="#">link</a>
      </div>
      <div class="col-2 offset-1">
        <h6>How to Buy</h6>
        <a href="#">link</a>
        <a href="#">link</a>
        <a href="#">link</a>
        <a href="#">link</a>
        <a href="#">link</a>
      </div>
    </div>
  </div>
</footer>
