<ec-productlist [title]="'smartphone & tablet' | titlecase" [columnLg]="2"
                [columMd]="3"
                [numOfProducts]="6"
                [productShape]="'vertical'">

</ec-productlist>
<div class="bg-white" style="margin-top: 2rem">
  <ec-productlist-ad></ec-productlist-ad>
  <ec-promotion></ec-promotion>
  <ec-productlist [title]="'camera & lens' | titlecase" [columnLg]="4" [columMd]="4" [numOfProducts]="6" [productShape]="'horizantal'" [removeContainerPadding]="true"></ec-productlist>
  <ec-companies-logos></ec-companies-logos>
</div>
